import React from 'react';

import { {{ pascalCase name }}PureProps } from './{{ pascalCase name }}.types';

export const {{ pascalCase name }}Pure: React.FC<{{ pascalCase name }}PureProps> = ({ ...component }) => {
    return (
        <div className="w-full flex flex-col gap-4">
            {component.__typename}: {component.id}
        </div>
    );
};
